<!-- Enter New Course Modal -->
<div id="myCourseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Please Add
                    New Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('course.add_course') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group mb-3">
                        <label>Code</label>
                        <input type="text" name="code" class="form-control" placeholder="Enter Code">
                    </div>
                    <div class="form-group mb-3">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Course Name">
                    </div>
                    <div class="form-group mb-3">
                        <label>College Code</label>
                        <input name="collegecode" type="text" class="form-control" placeholder="Enter College Code">
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Course Modal -->
<div id="editCourseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">
                    Update
                    Course Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group mb-3">
                        <label for="editCodeInput">Code</label>
                        <input value="" type="text" name="code" class="form-control" id="editCodeInput"
                            readonly="readonly">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editNameInput">Course Name</label>
                        <input value="" type="text" name="name" class="form-control" id="editNameInput">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editCollegecodeInput">College Code</label>
                        <input value="" type="text" name="collegecode" class="form-control" id="editCollegecodeInput">
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</tbody>
<!-- End of Edit Course Modal -->