<!-- Enter New Student Modal -->
<div id="myStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Please Add
                    New
                    Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('student.add_student') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group mb-3">
                        <label>ID Number</label>
                        <input type="text" name="id" class="form-control" placeholder="Id Number">
                    </div>
                    <div class="form-group mb-3">
                        <label>First Name</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter First Name">
                    </div>
                    <div class="form-group mb-3">
                        <label>Last Name</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group mb-3">
                        <label>Course Code</label>
                        <select name="coursecode" class="form-control" id="coursecode">
                            <option value="">Enter Course Code</option>
                            {% for course in courses %}
                            <option value="{{ course[0] }}">{{ course[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label>Year Level</label>
                        <input type="text" name="year" class="form-control" placeholder="Enter Year Level">
                    </div>
                    <div class="form-group mb-3">
                        <label>Gender</label>
                        <select name="gender" class="form-control">
                            <option value="">Enter Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Student Modal -->
<div id="editStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">
                    Update
                    Student Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('student.update_student') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group mb-3">
                        <label for="editIdInput">ID Number</label>
                        <input value="" type="text" name="id" class="form-control" id="editIdInput" readonly="readonly">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editFirstnameInput">First Name</label>
                        <input value="" type="text" name="firstname" class="form-control" id="editFirstnameInput">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editLastnameInput">Last Name</label>
                        <input value="" type="text" name="lastname" class="form-control" id="editLastnameInput">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editCoursecodeInput">Course Code</label>
                        <input value="" type="text" name="coursecode" class="form-control" id="editCoursecodeInput">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editYearInput">Year Level</label>
                        <input value="" type="text" name="year" class="form-control" id="editYearInput">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editGenderInput">Gender</label>
                        <input value="" type="text" name="gender" class="form-control" id="editGenderInput">
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</tbody>
<!-- End of Edit Student Modal -->