{% include "/modals/collegeModals.html" %}
{% extends "navigation.html" %}

<!-- Static Body Content -->
<!-- COLLEGE -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <!-- content goes here -->
        <div class="col-sm-8">
            <h2>College List <button class="btn btn-primary float-end" data-toggle="modal"
                    data-target="#myCollegeModal">Add
                    College</button></h2>

            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>

            {%endfor%}
            {%endif%}
            {%endwith%}

            <form class="row mt-4" action="{{ url_for('college.search_college') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="col-auto">
                    <p class="fw-semi-bold fs-5">Search College: </p>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="information" placeholder="College Information">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col-auto">
                    <a href="/college" class="btn btn-primary">Clear</a>
                </div>
            </form>

            <table class="table table-hover">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col-3">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for college in colleges %}
                <tbody>
                    <tr>
                        <td>{{college[0]}}</td>
                        <td>{{college[1]}}</td>
                        <td>
                            <button class="btn btn-warning btn-sm edit-btnCollege" data-toggle="modal"
                                data-target="#editCollegeModal" data-code="{{college[0]}}"
                                data-name="{{college[1]}}">Edit</button>
                            <button data-code="{{ college[0]}}"
                                class="btn btn-danger btn-sm btn-deleteCollege">Delete</button>
                        </td>
                    </tr>
                <tbody>
                    {% endfor %}
            </table>
        </div>
        <!-- Content ends here-->
        <div class="col-sm-2"></div>
    </div>
</div>

<!-- END OF COLLEGE -->
{% endblock %}