{% extends "base.html" %}

{% block navbar %}
<ul class="nav nav-tabs justify-content-center bg-light" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student"
            aria-selected="true">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course"
            aria-selected="false">Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="college-tab" data-toggle="tab" href="#college" role="tab" aria-controls="college"
            aria-selected="false">Colleges</a>
    </li>
</ul>
<div class="tab-content mt-5" id="myTabContent">
    <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">{% block students
        %}{% endblock %}
    </div>
    <div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="course-tab">{% block courses
        %}{% endblock %}</div>
    <div class="tab-pane fade show active" id="college" role="tabpanel" aria-labelledby="college-tab">{% block college
        %}{% endblock %}</div>
</div>

{% endblock %}