{% include "/modals/studentModals.html" %}
{% extends "navigation.html" %}

<!-- Static Body Content -->
<!-- STUDENTS -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <!-- content goes here -->
        <div class="col-sm-8">

            <h2>Student List <button class="btn btn-primary float-end" data-toggle="modal"
                    data-target="#myStudentModal">Add
                    Student</button></h2>

            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>

            {%endfor%}
            {%endif%}
            {%endwith%}

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Year Level</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for student in students %}
                <tbody>
                    <tr>
                        <td>{{student[0]}}</td>
                        <td>{{student[1]}}</td>
                        <td>{{student[2]}}</td>
                        <td>{{student[3]}}</td>
                        <td>{{student[4]}}</td>
                        <td>{{student[5]}}</td>
                        <td>
                            <button href="" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#editStudentModal">Edit</button>
                            <button href="" data-id="{{ student[0]}}"
                                class="btn btn-danger btn-sm btn-delete">Delete</button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <!-- Content ends here-->
        <div class="col-sm-2"></div>
    </div>
</div>
<!-- END OF STUDENTS -->
{% endblock %}
{% block scripts%}
{{super()}}
<script>
    var url = "{{ url_for('student.delete_student') }}";
</script>
<script src="{{ url_for('static',filename='js/index.js')}}"></script>
{% endblock %}