{% include "/modals/studentModals.html" %}
{% extends "base.html" %}

{% block title %} <title>Students</title> {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Student List <button class="btn btn-primary float-end" data-toggle="modal" data-coursecode="{{courses}}"
                    data-target="#myStudentModal">Add
                    Student</button></h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form class="row mt-4" action="{{ url_for('student.search_student') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="col-auto">
                    <input type="text" class="form-control" name="information" placeholder="Student Information">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col-auto">
                    <a href="/student/1" class="btn btn-primary">Clear</a>
                </div>
            </form>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Photo</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">College Code</th>
                        <th scope="col">Year Level</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                    <tr>
                        <td class="">{{student[0]}}</td>
                        <td> <img src="{{student[1]}}" alt="" /></td>
                        <td>{{student[2]}}</td>
                        <td>{{student[3]}}</td>
                        <td>{{student[6]}}</td>
                        <td>{{student[4]}}</td>
                        <td>{{student[5]}}</td>
                        <td>{{student[6]}}</td>
                        <td>
                            <button class="btn btn-warning btn-sm edit-btnStudent" data-toggle="modal"
                                data-id="{{student[0]}}" data-photo="{{student[1]}}" data-firstname="{{student[2]}}"
                                data-lastname="{{student[3]}}" data-coursecode="{{student[4]}}"
                                data-year="{{student[5]}}" data-gender="{{student[6]}}"
                                data-target="#editStudentModal">Edit</button>
                            <button data-id="{{ student[0]}}"
                                class="btn btn-danger btn-sm btn-deleteStudent">Delete</button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div>
                <nav class="py-3">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if prev >=1 %}
                            <a class="page-link" href="/student/{{prev}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                            {% endif %}
                        </li>
                        {% for page in range(page) %}
                        <li class="page-item"><a class="page-link" href="/student/{{loop.index}}">{{loop.index}}</a>
                        </li>
                        {% endfor %}
                        <li class="page-item">
                            {% if next <= page %} <a class="page-link" href="/student/{{next}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next {{next}}</span>
                                </a>
                                {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% endblock %}